openapi: 3.0.3
info:
  title: Ironclad Clickwrap Activity Sites API
  description: The Ironclad Clickwrap API (formerly PactSafe) lets developers programmatically manage clickwrap and click-through agreements, track user acceptance, and generate audit-ready records of consent for terms, privacy policies, and other legal contracts.
  version: '1.1'
  contact:
    name: Ironclad Clickwrap Support
    url: https://ironcladapp.com/support/
  license:
    name: Proprietary
    url: https://ironcladapp.com/
servers:
- url: https://pactsafe.io
  description: Ironclad Clickwrap API production base URL
security:
- bearerAuth: []
tags:
- name: Sites
  description: Manage sites that host clickwrap groups.
paths:
  /sites:
    get:
      tags:
      - Sites
      summary: List sites
      operationId: listSites
      responses:
        '200':
          description: List of sites.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Site'
  /sites/{siteId}:
    get:
      tags:
      - Sites
      summary: Get a site
      operationId: getSite
      parameters:
      - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: A site.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
components:
  parameters:
    SiteId:
      name: siteId
      in: path
      required: true
      schema:
        type: integer
  schemas:
    Site:
      type: object
      properties:
        id:
          type: integer
        sid:
          type: string
        name:
          type: string
        domain:
          type: string
        created:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
